html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
}

nav {
  height: 120px;
  color: #FFFFFF;
  width: 100%;
  background-color: #4056A1;
  padding-right: 1.5em;
  padding-left: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 5;
}

header {
  height: 400px;
  width: 100%;
  background-color: #E8E8E8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  max-width: 150px;
  max-height: 150px;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: #f4f1ec;
}
