.new-tweet {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.new-tweet .tweet-header {
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid #545149;
  font-family: "Source Sans Pro", sans-serif;
}

.new-tweet .tweet-header textarea {
  font-family: sans-serif;
  height: 40px;
  color: black;
  border: none;
  outline: none;
  background-color: transparent;
}

.new-tweet .tweet-footer {
  font-family: Bungee, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.new-tweet .tweet-footer button {
  background-color: #4056A1;
  font-size: 15px;
  color: white;
  border: none;
}

.new-tweet .error {
  color: red;
}

.new-tweet section.tweet {
  margin-bottom: 50px;
}

.new-tweet .tweet-wrap {
  word-break: break-word;
}
